<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/Css/style.css}">
    <title>Galeria de fotos</title>
</head>
<body>
    <header><a th:href="@{/}">Inicio</a><a th:href="@{/galeria}">Galería de fotos</a><a th:href="@{/premios}">Premios</a><a th:href="@{/enlaces}">Enlaces externos</a></header>
    <section class="contenido">
    <nav></nav>
        <main><center><h1>Galería</h1>
            <img class="album" th:src="@{/Media/Hellfest2017Sabaton_01.jpg}" title="Hellfest 2017">
            <img class="album" th:src="@{/Media/SABATON_LUXEM_@JENSTHEPANDA-002-e1706006422134.jpg}" title="Gira Europea 2023">
            <img class="album" th:src="@{/Media/joakim.jpg}" title="Joakim Brodén">
            <img class="album" th:src="@{/Media/par.jpg}" title="Pär Sundström">
            <img class="album" th:src="@{/Media/the-last-stand-cover-500x500-1.jpg}" title="Album, the last stand, 2016">
            <img class="album" th:src="@{/Media/the-great-war-cover-500x500-1.jpg}" title="Album, la gran guerra, 2019">
            <img class="album" th:src="@{/Media/the-war-to-end-all-wars-500x500-1.jpg}" title="Album, la guerra para acabar todas las guerras, 2022">
            <img class="album" th:src="@{/Media/sabaton-bismarck-cover-500x500-1.jpg}" title="PRIDE OF A NATION, A BEAST MADE OF STEEL, BISMARK IN MOTION. KING OF THE OCEAN HE WAS MADE TO RULE THE WAVES ACROSS THE SEVEN SEAS!">
            </center>
        </main>
            <aside></aside>
        </section>
    <footer></footer>
</body>
</html>